* {
    padding: 0px;
    margin: 0px;   
    box-sizing: border-box;
}
body {
    background-image: url("images/background_image.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    
    
} 
.main-header {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
.main-header span {
    color: red;
} 
.content {
    width: 400px;
    display: block;
    padding: 20px;
    margin: auto;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.8)
}
.box {
    margin-bottom: 7px;
}
.box input {
    padding: 7px;
    width: 100%;
}
.box-cr {
    margin-bottom: 10px;
}
.box-cr textarea {
    width: 100%;
}
.btn {
    font-weight: bolder;
    margin-left: 35%;
    margin-top: 5px;
    width: 30%;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background-color: red  
       
}
