* {
    padding: 0px;
    margin: 0px;
    
}
body {
    background-image: url("images/background_image.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    
 
} 
header {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
header span {
    color: red;
} 
.content {
    width: 400px;
    display: block;
    padding: 20px;
    margin: auto;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.8)
}
.box {
    margin-bottom: 7px;
}
.box input {
    padding: 7px;
    width: 90%;
}
.box-cr {
    margin-bottom: 10px;
}
.box-cr textarea {
    width: 95%;
}
.btn {
    margin-left: 35%;
    margin-top: 5px;
    width: 30%;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background-color: red     
}
