body {
    background-image: url("images/background_image.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
} 
header {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
header span {
    color: red;
} 
.content {
    width: 400px;
    display: block;
    padding: 20px;
    margin: auto;
}
.form {
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.8)
}
.box {
    margin-bottom: 7px;
}
.inputs {
    padding: 10px;
    width: 320px;
}
.feedback {
    margin-bottom: 10px;
}
.submit {
    margin-left: 30%;
    margin-top: 5px;
    width: 40%;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background-color: red     
}
@media (max-width:700px) {
.container {
width: 90%;
}
}